<div class="nav">
  <div class="nav-title">
      <span class="page-title"><a href="/">ASYNC PRO AWAIT MAN</a></span>
  </div>

  
  <div class="nav-links">
      <a href="/"><button class="button-pure">Login</button></a>
      <a href="/"><button class="button-pure">Register</button></a>
      <a href="/"><button class="button-pure">Logout</button></a>
      <a href="/"><button class="button-pure user">test@password.com</button></a>
      <a class="no_click">|</a>
      <a href="/"><button class="button-pure">New Private Board</button></a>
      <button id="add_public_board" class="button-pure">New Public Board</button>
  </div>
</div>