<div class="nav">
    <div class="nav-container">

        <div class="nav-title">
          <span class="page-title"><a href="/">ASYNC PRO AWAIT MAN</a></span>
        </div>

        <div class="nav-links">
          <button id="login" class="button-pure">Login</button>
          <button id="sign-up" class="button-pure">Sign Up</button>
          <button id="logout" class="button-pure">Logout</button>
          <button id="user-display" class="button-user">test@password.com</button>
        </div>

    </div>

</div>